<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Clickjacking</h1>
    <ul>
      <li>
        <a href="/clickjacking/victim-page" >Victim Page</a>
      </li>

      <li>
        <a href="/clickjacking/attackers-page" >Attacker Page</a>
      </li>

      <li>
        <a href="/clickjacking/protection" >Protection</a>
      </li>
    </ul>
  </body>
</html>
